<article class="comment">
  <div class="well">
    <h4>
      <span class="author"><%= comment.author %></span>
      <small><%= time_tag comment.created_at %></small>
    </h4>
    <p><%= comment.message %></p>
  </div>
</article>
