<article class="post">
  <header>
    <h2>
      <%= @post.title %>
      <%= link_to 'Edit', edit_post_path(@post), class: 'btn btn-link' %>
    </h2>
    Criado em <%= time_tag @post.created_at %>
  </header>
  <p><%= @post.content %></p>
</article>
