*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
h2, h3{
  text-transform: capitalize;
}

.pre{
  white-space: pre;
  word-break: break-all;
  word-wrap: break-word;
}

.posts{
  overflow: hidden;
  margin-bottom: 2%; 
}

.post{
  p { 
    @extend .pre;
    &.preview{
      color: #666;
    }
  }
  time{
    color: #999;
  }
}
.post-preview{
  background-color: #fff;
  padding: 2%;
  margin: 3% 0;
  border: 1px solid #ccc;
}
#post_content{
  resize: vertical;
  min-height: 300px;
}
.comments{
  padding: 1%;
  .comment{
    p {
      @extend .pre;
    }
  }
}
.has-error p{ color: #737373 !important; }
