header{
  padding: 2% 0;
}
h2, h3{
  text-transform: capitalize;
}

.pre{
  white-space: pre;
  word-break: break-all;
  word-wrap: break-word;
}

.post{
  p { 
    @extend .pre;
  }
}

.comments{
  padding: 1%;

  .comment{
    p {
      @extend .pre;
      padding: 1% 0;
    }
  }
}
